.allPage {
  margin: 8%;
  align-items: center;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.the-axsos-logo {
  width: 208px;
  height: 78px;
  margin-top: 100px;
}

.language-icon {
  margin-right: 120px;
}

.btn {
  font-weight: 400;
}
.btn:hover {
  background-color: #55126d;
  border-color: #55126d;
}
.btn-primary {
  background-color: #691489;
  border-color: #691489;
}

.bacCol {
  background-color: #e6e6e8;
}

.Vline {
  box-shadow: 0px 0px 0px rgb(214, 214, 214);
  border-width: 1px;
  border-right: 5px solid #e6e6e6;
}
.form-check-input {
  margin-top: 6.5px;
}
.backbtn {
  margin-left: 70px;
}
.errors {
  color: red;
}
.fMar {
  top: 47px;
}
.mt-3,
.my-3 {
  margin-top: 3rem !important;
}
/* SE */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .allPage {
    margin-top: 0px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}
/* XR */
@media only screen and (device-width: 414px) and (device-height: 896px) {
  .allPage {
    margin-top: 0px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}
/* 12 PRO */
@media only screen and (device-width: 390px) and (device-height: 844px) {
  .allPage {
    margin-top: 0px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}
/* Pixel 5 */
@media only screen and (device-width: 393px) and (device-height: 851px) {
  .allPage {
    margin-top: 0px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}

/* S8+ */
@media only screen and (device-width: 360px) and (device-height: 740px) {
  .allPage {
    margin-top: 0px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 17px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}
/* S20 ultra */
@media only screen and (device-width: 412px) and (device-height: 915px) {
  .allPage {
    margin-top: 0px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}
/* Surface Due */
@media only screen and (device-width: 540px) and (device-height: 720px) {
  .allPage {
    margin-top: 0px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 20px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}
/* Galaxy Fold */
@media only screen and (device-width: 280px) and (device-height: 653px) {
  .allPage {
    margin-top: 0px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 13px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}
/* Galaxy A51, A71 */
@media only screen and (device-width: 412px) and (device-height: 914px) {
  .allPage {
    margin-top: 0px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .the-axsos-logo {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .Vline {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 20px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
  .backbtn {
    margin-left: 0px;
  }
}
/* Nest Hub */
@media only screen and (device-width: 1024px) and (device-height: 600px) {
  .allPage {
    margin-top: 50px;
  }
  .language-icon {
    margin-right: 5px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtn {
    margin-left: 27px;
  }
}
/* nest hub max */
@media only screen and (device-width: 1280px) and (device-height: 800px) {
  .allPage {
    margin-top: 13%;
  }
  .backbtn {
    margin-left: 59px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 1rem !important;
    margin-top: 3rem !important;
  }
}
