.allMyPage {
  margin: 8%;
  align-items: center;
}
.the-axsos {
  width: 208px;
  height: 78px;
  margin-top: 100px;
}
.V-line {
  box-shadow: 0px 0px 0px rgb(214, 214, 214);
  border-width: 1px;
  border-right: 5px solid #e6e6e6;
}

.language-icon-1 {
  margin-right: 120px;
}
.AxsosParagraph {
  color: #383838;
  font-weight: 500;
  font-size: 20px;
  line-height: 4.3;
}

.btn {
  font-weight: 400;
}
.btn:hover {
  background-color: #55126d;
  border-color: #55126d;
}
.btn-primary {
  background-color: #691489;
  border-color: #691489;
}

.bacCol {
  background-color: #e6e6e8;
}

.form-check-input {
  margin-top: 6.5px;
}
.horizontalLine {
  width: 359px;
  height: 1px;
  transform: rotate(-90deg);
  box-shadow: 3px 4px 5px rgb(214, 214, 214);
  border-color: #e6e6e6;
  border-width: 1px;
  border-style: solid;
}
.backbtnToSignin {
  margin-left: 24px;
}
.errors {
  color: red;
}
.fMar {
  top: 47px;
}
/* SE */
@media only screen and (device-width: 375px) and (device-height: 667px) {
  .allMyPage {
    margin-top: 0px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}

/* 12 PRO */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .allMyPage {
    margin-top: 0px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* XR */
@media only screen and (device-width: 414px) and (device-height: 896px) {
  .allMyPage {
    margin-top: 0px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* Pixel 5 */
@media only screen and (device-width: 393px) and (device-height: 851px) {
  .allMyPage {
    margin-top: 0px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* S8+ */
@media only screen and (device-width: 360px) and (device-height: 740px) {
  .allMyPage {
    margin-top: 0px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 17px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* S20 ultra */
@media only screen and (device-width: 412px) and (device-height: 915px) {
  .allMyPage {
    margin-top: 0px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* Surface Due */
@media only screen and (device-width: 540px) and (device-height: 720px) {
  .allMyPage {
    margin-top: 0px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* Galaxy Fold */
@media only screen and (device-width: 280px) and (device-height: 653px) {
  .allMyPage {
    margin-top: 0px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* Galaxy A51, A71 */
@media only screen and (device-width: 412px) and (device-height: 914px) {
  .allMyPage {
    margin-top: 0px;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    margin-top: 34px;
  }
  .sizing {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .V-line {
    box-shadow: 0px 0px 0px rgb(214, 214, 214);
    border-width: 1px;
    border-right: 5px solid #ffffff;
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* Nest Hub */
@media only screen and (device-width: 1024px) and (device-height: 600px) {
  .allMyPage {
    margin-top: 5%;
  }
  .language-icon-1 {
    margin-right: 5px;
  }
  .the-axsos {
    width: 208px;
    height: 78px;
    /* margin-top: 34px; */
  }
  .AxsosParagraph {
    color: #383838;
    font-weight: 500;
    font-size: 20px;
    line-height: 4.3;
  }
  .labMar {
    margin-left: 20px;
  }
  .backbtnToSignin {
    margin-left: 0px;
  }
}
/* nest hub max */
@media only screen and (device-width: 1280px) and (device-height: 800px) {
  .allMyPage {
    margin-top: 15%;
  }
  .sizing {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
    margin-top: 3rem !important;
  }
}
